
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

.nav-link {
  font-size: 1.2em;
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: #f2f2f2;
}